<!DOCTYPE html>
<html ng-app="ph">
<head>
    <title>Hairy Tibble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Hairy Tibble</h1>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8" ng-controller="TestController as testCtrl">
                <form ng-submit="testCtrl.submitNewQuestion()">
                    <div class="form-group">
                        <textarea placeholder="Nieuwe vraag" class="form-control" ng-model="testCtrl.newQuestion" ng-focus="testCtrl.questionFormFocus=true" rows="{{ testCtrl.getNewQuestionRows() }}" required></textarea>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Antwoord" class="form-control" ng-show="testCtrl.questionFormFocus" ng-model="testCtrl.newOpenAnswer" rows="5"></textarea>
                    </div>
                    <div class="form-group" ng-show="testCtrl.questionFormFocus">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Vraagtype <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="testCtrl.newQuestionType='open'">Openvraag</a></li>
                                <li><a href="#" ng-click="testCtrl.newQuestionType='multipleChoice'">Meerkeuzevraag</a></li>
                            </ul>
                        </div>
                        <input type="submit" value="Opslaan" class="btn btn-success pull-right" ng-show="testCtrl.questionFormFocus">
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="well" ng-click="testCtrl.questionFormFocus=false">
                    <div>
                        <h4>
                            <div class="row">
                                <div class="col-xs-9 col-md-10">
                                    {{ testCtrl.getCurrentTest().object.name }}
                                </div>
                                <div class="col-xs-3 col-md-2">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Kies andere toets" ng-click="testCtrl.openTestListModal()">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>

                    <div>
                        <div id="listWithHandle" class="list-group">
                            <div class="list-group-item" ng-repeat="question in testCtrl.getQuestions()">
                                <div class="row">
                                    <div class="col-xs-9 col-md-10">
                                        <strong>{{ $index + 1 }}:</strong>
                                        {{ question.object.question }}
                                    </div>
                                    <div class="col-xs-3 col-md-2">
                                        <div class="pull-right">
                                            <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Aanpassen">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Verwijder uit toets" ng-click="testCtrl.removeQuestion(question.id)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Exporteer antwoordblad <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Microsoft Word</a></li>
                                    <li><a href="#">ODF</a></li>
                                    <li><a href="#">Platte tekst</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Exporteer <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Microsoft Word</a></li>
                                    <li><a href="#">ODF</a></li>
                                    <li><a href="#">Platte tekst</a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div ng-controller="QuestionListController as questionList">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Zoek binnen alle vragen" ng-model="questionList.query">
                        </div>
                    </form>
                    <table class="table table-striped">
                        <caption class="text-right">Totaal {{ questionList.getNumberOfQuestions() }} resultaten</caption>
                        <tbody>
                            <tr dir-paginate="question in questionList.getQuestions() | filter: questionList.query | orderBy: 'object.question' | itemsPerPage: questionList.itemsPerPage">
                                <td ng-class="questionList.getQuestionClass(question.id)">
                                    {{ question.object.question }}
                                </td>
                                <td style="width:100px;" class="text-right">
                                    <button class="btn btn-success btn-xs" ng-hide="questionList.isQuestionInCurrentTest(question.id)" data-toggle="tooltip" title="Voeg toe aan toets" ng-click="questionList.addToCurrentTest(question.id)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Aanpassen">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls on-page-change="questionList.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-0.9.0.min.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/dirPagination.js"></script>
    <script type="text/javascript" src="assets/js/services/question_service.js"></script>
    <script type="text/javascript" src="assets/js/services/test_service.js"></script>
    <script type="text/javascript" src="assets/js/controllers/test_controller.js"></script>
    <script type="text/javascript" src="assets/js/controllers/test_list_controller.js"></script>
    <script type="text/javascript" src="assets/js/controllers/question_list_controller.js"></script>
</body>
</html>