<!DOCTYPE html>
<html ng-app="ph">
<head>
    <title>Tribble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
    <div class="page-header">
        <img src="/assets/img/logo_klein.png">
        <h1>Tribble</h1>
    </div>

    <div class="container">
        <!-- Alert Controler -->
        <div ng-controller="AlertCtrl" class="alert-container">
            <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert(alert.id)">{{ alert.msg }}</alert>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8" ng-controller="TestController as testCtrl">
                <div class="form-group question-placeholder" ng-hide="testCtrl.editingNewQuestion">
                    <button type="button" class="btn btn-info" ng-click="testCtrl.editingNewQuestion=true">Nieuwe vraag</button>
                </div>
                <question question="testCtrl.newQuestion" placeholder="Nieuwe vraag" ng-submit="testCtrl.submitNewQuestion" ng-cancel="testCtrl.closeEditing" ng-show="testCtrl.editingNewQuestion"></question>
                <div class="well">
                    <div>
                        <h4>
                            <div class="row">
                                <div class="col-xs-9 col-md-10">
                                    {{ testCtrl.getCurrentTest().object.name }}
                                </div>
                                <div class="col-xs-3 col-md-2">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Kies andere toets" ng-click="testCtrl.openTestListModal()">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </h4>
                    </div>

                    <div>
                        <div class="list-group" dnd-list="testCtrl.questions">
                            <div class="list-group-item"
                                ng-repeat="question in testCtrl.questions"
                                dnd-draggable="question"
                                dnd-moved="testCtrl.questionMoved($index)"
                                dnd-effect-allowed="move"
                                dnd-selected="models.selected = question"
                                ng-class="{'selected': models.selected === question}"
                                dnd-disable-if="testCtrl.editingQuestionId!=null">
                                <div class="row" ng-hide="testCtrl.editingQuestionId==question.id">
                                    <div class="col-xs-9 col-md-10">
                                        <strong>{{ $index + 1 }}:</strong>
                                        {{ testCtrl.getQuestionTitle(question) | stripHTML | cut : true : 100 }}
                                    </div>
                                    <div class="col-xs-3 col-md-2">
                                        <div class="pull-right">
                                            <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Aanpassen" ng-click="testCtrl.editingQuestionId=question.id">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Verwijder uit toets" ng-click="testCtrl.removeQuestion(question.id)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <question ng-show="testCtrl.editingQuestionId==question.id" question="question" ng-submit="testCtrl.saveQuestion" ng-cancel="testCtrl.closeEditing">
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Exporteer antwoordblad <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Microsoft Word</a></li>
                                    <li><a href="#">ODF</a></li>
                                    <li><a href="#">Platte tekst</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Exporteer <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-href="{{ testCtrl.getCurrentTestExportUrl('pdf') }}" target="_blank">PDF</a></li>
                                    <li><a ng-href="{{ testCtrl.getCurrentTestExportUrl('word') }}" target="_blank">Microsoft Word</a></li>
                                    <li><a ng-href="{{ testCtrl.getCurrentTestExportUrl('odf') }}" target="_blank">ODF</a></li>
                                    <li><a ng-href="{{ testCtrl.getCurrentTestExportUrl('text') }}" target="_blank">Platte tekst</a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div ng-controller="QuestionListController as questionList">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Zoek binnen alle vragen" ng-model="questionList.query">
                        </div>
                    </form>
                    <table class="table table-striped">
                        <caption class="text-right">Totaal {{ questionList.getNumberOfQuestions() }} resultaten</caption>
                        <tbody>
                            <tr dir-paginate="question in questionList.getQuestions() | filter: questionList.query | orderBy: 'object.question' | itemsPerPage: questionList.itemsPerPage">
                                <td ng-class="questionList.getQuestionClass(question.id)">
                                    {{ questionList.getQuestionTitle(question) | stripHTML | cut : true : 50 }}
                                </td>
                                <td style="width:100px;" class="text-right">
                                    <button class="btn btn-success btn-xs" ng-hide="questionList.isQuestionInCurrentTest(question.id)" data-toggle="tooltip" title="Voeg toe aan toets" ng-click="questionList.addToCurrentTest(question.id)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="btn btn-default btn-xs" data-toggle="tooltip" title="Aanpassen">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls on-page-change="questionList.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/dist/all.min.js"></script>
</body>
</html>